.ChromeExtension {
  $primary-color: #fe8f25;
  $desc: #1c1a18;
  background-color: #fafafa;

  .btn {
    min-width: 300px;
    font-size: 20px;
    padding: 10px;

    i {
      padding: 0 15px;
      font-size: 25px;
    }
  }

  .btn-white {
    background: #ffffff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
    color: #28221c;
  }

  .AddChromeBtn {
    display: flex;
    background-color: $primary-color;
    border: 3px solid #ffa632;
    color: #fff;
  }

  section {
    margin: 100px 0;
  }

  .TitleWrapper {
    display: flex;
    text-align: center;
    flex-direction: column;

    .NavTitle {
      color: $primary-color;
      font-size: 18px;
      font-weight: bold;
    }

    .Title {
      font-weight: 800;
      font-size: 30px;
    }
  }

  .Header {
    display: flex;
    position: relative;
    padding: 120px 0 100px 100px;
    background-color: #190e03;
    color: #fff;

    .LeftBlock {
      flex-basis: 40%;
    }

    .Logo {
      position: absolute;
      top: 50px;
      left: 100px;
    }

    .Macbook {
      position: absolute;
      right: 0;
      top: 120px;
    }

    .SubHeadLine {
      color: $primary-color;
      font-weight: bold;
    }

    .DescHeadline {
      padding-top: 30px;
      font-weight: bold;
    }

    .OrOpen {
      padding-top: 20px;
      font-weight: bold;

      a {
        color: $primary-color;
      }
    }
  }

  .HowToPlay {
    .BlockContent {
      display: flex;
      justify-content: space-around;
    }

    .Item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;

      .ItemImage {
        height: 120px;
      }

      .ItemTitle {
        font-weight: bold;
        font-size: 20px;
      }
    }
  }

  .AboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .BtnAction {
      padding: 30px 0;
      display: flex;
    }

    .Desc {
      width: 50%;
      color: $desc;
      line-height: 30px;
    }

    .NinjaSVG {
      width: 100%;
      margin-bottom: -40px;
    }

    .Goto {
      text-align: center;
      margin-left: 30px;
    }
  }

  .AddExtension {
    display: flex;
    background-color: #190e03;
    justify-content: space-between;
    padding: 50px 0 0;

    .BlockLeft {
      width: 150%;
      img {
        width: 100%;
      }
    }

    .BlockRight {
      display: flex;
      flex-direction: column;
      padding: 30px 130px;
      color: #fff;
    }

    .Desc {
      padding: 20px 0 30px;
    }
  }

  footer {
    display: flex;
    border-top: 1px solid #d8d8d8;
    margin: 0 100px;
    padding: 50px 0;

    svg,
    h5 {
      margin-bottom: 30px;
    }

    h5 {
      font-weight: bold;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      line-height: 30px;
      a {
        i {
          padding-right: 10px;
        }
      }
    }

    .MainInfo {
      width: 70%;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      padding-right: 200px;

      a {
        color: $primary-color;
      }
    }

    .SocialBlock {
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    .SubScribeEmail {
      margin-top: 20px;

      span {
        font-weight: 400;
        font-size: 14px;
      }

      form {
        height: 40px;
        font-size: 14px;

        input {
          height: 100%;
          background: #ffffff;
          outline: none;
          width: 250px;
          padding: 0 15px;
          // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

          &::placeholder {
            color: #a7a7a7;
          }
        }

        button {
          height: 100%;
          background-color: $primary-color;
          color: #fff;
          padding: 0 15px;
          margin-left: -1px;
          border: none;
          outline: none;

          &:hover {
            cursor: pointer;
          }
        }

        .ErrMsg {
          color: red;
          font-style: italic;
        }
      }
    }
  }
}
