.ErrMsg {
  color: red;
}

.CreateEvent {
  background-color: #EBF1F7;
  padding-bottom: 60px;
  margin-top: -15px;
  padding-top: 15px;

  .FormBlock {
    background-color: #FFFFFF;
    margin: 15px 20px;
    padding: 20px;
    border-radius: 5px;

    .BlankLine {
      background-color: #EBF1F7;
      height: 2px;
      width: 100%;
    }
  }

  .SubmitBtn {
    position: fixed;
    width: 100%;
    bottom: 60px;
    height: 50px;
    font-size: 18px;
  }

  /* FIELDS */
  .EventTitle {
    label {
      color: #2989FF;
    }
  }

  .PublicSwitcher {
    display: flex;
    font-size: 16px;
    color: #748599;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: -10px;

    label {
      margin-bottom: 0;
    }
  }

  .switch {
    width: 110px;

    .on, .off {
      font-size: 15px;
      font-weight: 400;
    }

    .slider {
      background-color: #14447F;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(83px);
      -ms-transform: translateX(83px);
      transform: translateX(83px);
    }
  }

  .HostFee {
    position: relative;

    .rangeLimit {
      display: none;
    }

    .RangeValue {
      position: absolute;
      top: 0;
      right: 0;

      input {
        width: 17px;
      }
    }

    .rangeslider-horizontal {
      height: 5px;
    }

    .rangeslider, .rangeslider .rangeslider__fill {
      box-shadow: none;
    }

    .rangeslider-horizontal .rangeslider__handle {
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }

    .rangeslider-horizontal .rangeslider__fill {
      background-color: #2989FF;
    }

    .rangeslider-horizontal .rangeslider__handle:after {
      width: 14px;
      height: 14px;
      top: 2px;
      left: 2px;
      background-color: #2989FF;
    }
  }
}
