.ErrMsg {
  color: red;
  font-size: 13px;
  padding: 5px 0;
  font-weight: normal;
}

.CreateEvent {
  background-color: #EBF1F7;
  padding-bottom: 60px;
  margin-top: -15px;
  padding-top: 15px;

  .FormBlock {
    background-color: #FFFFFF;
    margin: 15px 20px;
    padding: 20px;
    border-radius: 5px;

    .BlankLine {
      background-color: #EBF1F7;
      height: 2px;
      width: 100%;
      margin: 20px 0;
    }

    .GroupTitle {
      color: #0A2240;
    }

    .GroupNote {
      color: #889EB5;
      font-size: 13px;
    }

    .GroupRow {
      display: flex;
      align-items: center;
    }

    .BlockLeft {
      flex: 50%;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .BlockRight {
      margin-left: 10px;
      position: relative;
    }

    label {
      margin-bottom: 0;
    }
  }

  .SubmitBtn {
    position: fixed;
    width: 100%;
    bottom: 60px;
    height: 50px;
    font-size: 18px;
  }

  /* FIELDS */
  .EventTitle {
    label {
      color: #2989FF;
      width: 60px;
      margin-top: 3px;
    }

    textarea {
      width: 100%;
      color: #0A2240;
      border: none;

      &::placeholder {
        color: #0A2240;
      }
    }

    .ErrMsg {
      font-weight: unset;
      text-align: right;
      padding-top: 0;
    }

    .BlankLine {
      margin-bottom: 0;
    }

    .OutcomeName {
      font-weight: bold;
      textarea {
        font-weight: bold;
      }
    }

    .OutcomeName, .EventName {
      display: flex;
      align-items: flex-start;
      font-size: 25px;
    }
  }

  .PublicSwitcher {
    display: flex;
    font-size: 16px;
    color: #748599;
    justify-content: space-between;
    margin: -10px 0;
    align-items: center;

    .switch {
      width: 110px;
      height: 28px;

      .on, .off {
        font-size: 15px;
        font-weight: 400;
      }

      .slider {
        background-color: #14447F;
      }

      input:checked + .slider {
        background-color: #2989FF;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(83px);
        -ms-transform: translateX(83px);
        transform: translateX(83px);
      }
    }
  }

  .HostFee {
    position: relative;

    .rangeLimit {
      display: none;
    }

    .RangeValue {
      position: absolute;
      top: 0;
      right: 0;
      color: #2989FF;

      input {
        text-align: right;
        padding: 0;
        margin: 0;
        border: none;
        color: #2989FF;
        background-color: transparent;
        -webkit-appearance: none;
        -webkit-user-select: none;
        -webkit-user-modify: none;
      }

      .unit {
        background-color: transparent;
      }
    }

    .rangeslider-horizontal {
      height: 5px;
    }

    .rangeslider, .rangeslider .rangeslider__fill {
      box-shadow: none;
    }

    .rangeslider-horizontal .rangeslider__handle {
      width: 25px;
      height: 25px;
      border-radius: 25px;
      background: #2989FF;
      border: 2px solid #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(181,181,181,0.50);
    }

    .rangeslider-horizontal .rangeslider__fill {
      background-color: #2989FF;
    }

    .rangeslider-horizontal .rangeslider__handle:after {
      display: none;
    }
  }

  .ImageUpload {
    display: flex;
    justify-content: space-between;

    .AddBtn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .ReportSource {
    .GroupNote {
      padding: 5px 0 10px;
    }
  }

  .DateTime {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .BlockRight {
      width: 80px;
      background-color: #F5F8FC;
      border-radius: 5px;

      .ClosingTime {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;

        .Day {
          font-size: 17px;
          font-weight: 400;
        }

        .Month, .Year {
          color: #748599;
          font-size: 13px;
        }

        .Hour {
          font-size: 13px;
        }
      }
    }
  }

  .Notification {
    input {
      width: 100%;
      height: 38px;
      border-radius: 5px;
      padding: 5px 10px;
      border: 1px solid hsl(0,0%,80%);
      font-size: 15px;

      &:disabled {
        background-color: #F5F8FC;
      }
    }

    .btn {
      flex-basis: 50%;
      font-size: 13px;
      height: 38px;
      padding: 0;
    }

    .UnVerified {
      input {
        margin-right: 10px;
      }
    }
  }
}
