.review-list-container {
  .review-list-count-comment {
    font-size: 18px;
    color: #343538;
    letter-spacing: 0.35px;
    margin-bottom: 15px;
    font-weight: bold;
    display: block;
  }
  .review-list {
    background: #F5F8FC;
    padding: 15px;
    max-height: 400px;
    overflow-y: auto;
    .review {
      padding: 10px 20px;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      >:first-child {
        width: 40px;
      }
      .review-content {
        width: calc(100%);
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        .name {
          font-size: 14px;
          color: #748599;
          letter-spacing: 0;
        }
        .content {
          font-size: 14px;
          color: #0A2240;
          letter-spacing: 0;
          word-break: break-word;
        }
      }
    }
  }
  button {
    color: white;
    font-size: 13px;
    border: none;
    width: 100%;
    background: #2989FF;
    border-radius: 4px 4px 4px 4px;
    font-weight: 500;
    letter-spacing: 0;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 5px;
  }
}
