@import './src/styles/var';

.app {
  padding-bottom: 150px !important;
}
.feed-exchange {
  .coin-item {
    display: inline-block;
    width: 50%;
    color: white;
  }
  .ex-sticky-note {
    text-align: center;
    color: white;
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 414px;
    background-color: black;
    z-index: 2;
    padding: 10px 0;
    .btn-become {
      min-width: 200px;
      border: 1px solid white;
      background: black;
      color: white;
    }
  }

  .dialog-shake-detail {
    .modal-custom-body {
      background: #485059;
      border-radius: 4px;
      padding: 20px !important;
    }
  }
}
