@import "./src/styles/style";

.wrapperEventItem {
  font-family: $font-family-base;
  display: flex;
  padding: 20px 0;

  .wrapperEventDetail {
    display: flex;
    justify-content: space-between;

    .eventDetailBlock {
      width: 50%;
      display: flex;
      flex-direction: row;
    }
    .eventDetailText {
      margin-left: 5px;
      margin-top: 3px;
    }
  }
  .wrapperEventContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .wrapperEventImage {
    width: 20%;
    .eventLogo {
      border-radius: rem-calc(5px);
      background-color: gray;

    }
  }

}
