
.NotifiyWrapperButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    .cancelBtn {
        width: 120px;
        background-color: gray;
    }
    .agreeBtn {
        width: 120px;
    }
}