.root {
  overflow: hidden;
}

.app {
  padding: 56px 0 60px 0;
  margin: 0 auto;
  max-width: $app-width;
  overflow: hidden;
  background-color: $white;
  &.hide-header {
    padding-top: 0;
  }
}

.header {
  z-index: 3;
  max-width: $app-width;
  height: $header-height;
  background-color: rgba(248, 248, 248, 0.82);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  .header-right {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-left {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-back-btn {
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px;
    height: $header-height;
    svg {
      g {
        fill: $deep-blue;
      }
    }
    display: none;
    &.visibled {
      display: block;
    }
  }
  .title {
    line-height: $header-height;
    text-align: center;
    font-size: 24px;
    color: $text-black;
  }
}

.content {
  padding-top: 49px;
  background-color: #EBF1F7;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  width: 100%;
  max-width: $app-width;
  background: #FFFFFF;
  z-index: 50;
  box-shadow: 0 -2px 13px 0 rgba(221,235,242,0.50);
  ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      height: 100%;
      width: 40%;
      &.PlusButton {
        width: 20%;
      }
      a {
        cursor: pointer;
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $text-gray;
        font-size: rem-calc(12px);
        font-weight: 500;
        text-decoration: none;
        > span:first-child {
          display: block;
          font-size: rem-calc(20px);
          margin-bottom: 3px;
        }
        &.CreateEvent {
          position: absolute;
          left: 50%;
          z-index: 5;
          padding: 0;
          margin: -16px 0 0;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          color: #FFFFFF;
          background-color: #2989FF;
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
          margin-left: -30px;
          > span {
            font-size: rem-calc(30px);
          }
        }
        &:hover, &:focus, &:visited {
          text-decoration: none;
        }
      }
      &.selected {
        a {
          color: #1E4EFF;
        }
        a.CreateEvent {
          color: #FFFFFF;
        }
      }
    }
  }
}

.network-error {
  padding-top: 20vh;
  p {
    margin-top: 20px;
  }
}

.form-control-custom {
  height: calc(2rem + 1px);
  margin-bottom: -1px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $lavender-gray;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
  background-image: none;
  &:focus {
    height: calc(2rem + 1px);
    margin-bottom: -1px;
    border-color: $blue;
    border-width: 2px;
  }
}
.has-error {
  box-shadow: none !important;
  border-color: #dc3545 !important;
}
.has-warning {
  box-shadow: none !important;
  border-color: #ffc107 !important;
}

.hide-scroll {
  overflow: hidden !important;
}

.auto-width {
  &:first-child:nth-last-child(1) {
    width: 100%;
  }

  &:first-child:nth-last-child(2) {
    width: 50%;
    padding-right: 4px;
  }
  &:first-child:nth-last-child(2) ~ & {
    width: 50%;
    padding-left: 4px;
  }
}
