@import "../../node_modules/bootstrap-nojs/bootstrap.css";
//@import "../assets/css/flags/sass/flag-icon.scss";
@import "font-awesome/css/all.min.css";

@import "var";
@import "responsive";
@import "functions";
@import "mixin";
@import "animate";

body {
  font-family: $font-family-base;
  font-style: normal;
  font-size: $font-size-base;
  font-weight: $extra-light;
  color: $black;
  background-color: $bg-gray;
}

img {
  max-width: 100%;
}

@import "app";
@import "forms/dropdown-input";
