.autocomplete-input-container {
  position: relative;
  margin: 0px;
  input {
    height: 54px;
    background: #FFFFFF;
    border: 1.5px solid #E1E9F0;
    border-radius: 4px 4px 4px 4px;
    padding: 15px;
    color: #495057;
    width: 100%;
    margin: 5px 0px;
    &.error {
      border: solid 1.5px #dc3545;
    }
  }
  ul {
    position: absolute;
    background: white;
    z-index: 1;
    width: 100%;
    margin: 0px;
    box-shadow: 0 2px 4px 0 rgba(203, 203, 203, 0.5);
    top: 60px;
    list-style: none;
    padding: 0px;
    max-height: 100px;
    word-break: break-all;
    overflow: auto;
    li {
      word-break: break-all;
      cursor: pointer;
      padding: 5px 15px;
      font-weight: 400;
      border-bottom: 1px solid #E1E9F0;
      &:hover {
        background: #c2c2c2;
      }
    }
  }
}