.PlaceBetContainer {
  height: 100%;
}
.PlaceBetComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 56px;
  bottom: 60px;
  left: 0;
  right: 0;
  background-color: #F5F8FC;
}
.BetFormComponent {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 30px 50px;
  align-self: center;  
  align-items: center;
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .ErrMsg {
    font-size: 0.75rem;
    padding: 5px 0;
  }
  input {
    color: #0A2240;
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(151,151,151, 0.5);
    background-color: #ffffff;
    min-height: 46px;
    padding: 5px;
    margin-bottom: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  button {
    min-height: 46px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.BetParamsComponent {
  padding: 30px 50px;
  .Item {
    display: flex;
    justify-content: space-between;
    color: #748599;
    font-size: 0.875rem;
    line-height: 2em;
  }
}