@import './src/styles/style';

.AppBarComponent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  padding: 12px 10px;
  border-bottom: 1px solid #EBF1F7;
  .IconLeft, .IconRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #748599;
    font-size: 1.2rem;
    display: block;
    width: 25px;
  }
  .IconLeft {
    left: 10px;
  }
  .IconRight {
    right: 10px;
  }
  .Title {
    text-transform: uppercase;
    font-weight: 700;
  }
}
