.crypto-coin-price-panel-container {
  .crypto-coin-price-panel-label {
    font-weight: bold;
    font-size: 18px;
    color: #343538;
    letter-spacing: 0.35px;
    margin-bottom: 20px;
  }
  > div {
    border-bottom: 1px solid #E1E9F0;
    padding: 20px 0px;
  }
}