.crypto-coin-price-item-container {
  span {
    font-size: 14px;
    color: #0A2240;
    letter-spacing: 0;
  }
  .crypto-coin-price-item-label {
    display: flex;
    padding: 10px 0px;
    >img {
      width: 20px;
      height: 20px;
      margin-right: 15px;
    }
    > span {
      font-size: 14px;
      color: #0A2240;
      letter-spacing: 0;
    }
  }
  .crypto-coin-price-item-sell, .crypto-coin-price-item-buy {
    display: flex;
    padding: 0px 0px;
    align-items: center;
    :nth-child(1) {
      display: block;
      width: 100px;
    }
    :nth-child(1) {
      display: block;
      padding: 10px;
    }
    :nth-child(2) {
      padding: 5px 20px;
      border-radius: 13.5px;
    }
  }
  .crypto-coin-price-item-buy {
    span {
      color: #428644;
    }
    :nth-child(2) {
      background: #E8F7F0;
    }
  }

  .crypto-coin-price-item-sell {
    span {
      color: #B94A48;
    }
    :nth-child(2) {
      background: #FFF1F1;
    }
  }
}