.sell-crypto-coin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > div.currency-group {
    width: 100%;
    margin-bottom: 50px;
    .label {
      color: #FFFFFF;
      font-size: 18px;
      font-weight: normal;
      text-align: left;
      letter-spacing: 0;
    }
  }
  > div.user-input-group {
    width: 100%;
    margin-bottom: 30px;
  }
  input {
    height: 54px;
    background: #FFFFFF;
    border: 1.5px solid #E1E9F0;
    border-radius: 4px 4px 4px 4px;
    padding: 15px;
    color: #495057;
    width: 100%;
    margin: 5px 0px;
    &::placeholder {
      color: #A5BED4;
      font-size: 18px;
      font-weight: normal;
      text-align: left;
      letter-spacing: 0;
    }
  }
  .next-btn {
    height: 53px;
    background: #2989FF;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    letter-spacing: 0;
    border: 0 solid #EDF0FA;
    color: white;
    text-align: center;
    border-radius: 4px 4px 4px 4px;
  }

  .fiat-amount-container {
    position: relative;
    .loading {
      width: 100%;
      background-color: #E1E9F0;
      height: 3px;
      border: none;
      animation: loading 2s ease 0s infinite alternate;
      position: absolute;
      bottom: 5px;
      margin: 0px;
      left: 50%;
      transform: translateX(-50%);
  
      @keyframes loading {
        10% {
          background-color: #2b2d42;
          width: 10%;
        }
        25% {
          background-color: #8d99ae;
          width: 25%;
        }
        50% {
          background-color: #edf2f4;
          width: 50%;
        }
        75% {
          background-color: #d0efb1;
          width: 75%;
        }
        100% {
          background-color: #b3d89c;
          width: 100%;
        }
      }
    }
  }
}